@model IEnumerable<ITAssetsDatabase.BusinessDomain.Article>

@helper AlternateBackground(string color)
{
    if (ViewBag.count == null) { ViewBag.count = 0; }
    <text>style="background-color:@(ViewBag.count % 2 == 1 ? color : "#FFFFFF")"</text>
    ViewBag.count++;
}


<style>

        .layout {
                
        margin-top:15px;
        border: none;
        padding:0; min-height:333px;
        background-color: white;
        border-radius: 4px;
        box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
        background:#fff; z-index:3;
  	    position: relative;
	    overflow: hidden;        
	    -webkit-transition: -webkit-transform .5s ease-in-out;
	    -moz-transition: -moz-transform .5s ease-in-out;
	     transition: -o-transform .5s ease-in-out;
	     transition: transform .5s ease-in-out;  
        
    }

    .layout ul {

         list-style-type:none;
         margin: 0 auto;
         width: 860px;
         border:0px;
         padding:0px;

         
    }


    #view_detailed {

        display:none;
    }
    
     .layout li {                
     height: 53px; padding: 20px 0 20px 0px;
     min-height:48px; 
     border-bottom:1px solid #dedede;         
    }

    #results_wrapper {

        z-index:1;  /* Stops the Drop down box getting hidden behind this wrapper */
    }


     #resultsheader
             {
                 height:50px; border-bottom:1px solid #dedede;    
                }


    #left {

    /*border:1px solid red;*/
    float:left;
    width:15%;
    height:50px;
    background-repeat:no-repeat;
    background-position: 30%;
    /*background-size:50px 50px; */
    background-size: contain;
    margin:0px;
    
    
    }

    #right {
        /*border: 1px solid magenta;*/        
        /*width: 80%;*/
        /*height: 53px;*/
    }

  #right h3 {

        overflow-x:hidden;
        overflow-y:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin:0px;
        border:0px;
        padding:0px;
    }


  .desc {

        overflow-x:hidden;
        overflow-y:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        margin:0px;
        border:0px;
        padding:0px;
        
    }

    #count {
        position:absolute; top:15px; left:15px; visibility:visible; font-size:13px; color:#666; 
    }

     #noresults {
        position:relative; top:30px;visibility:visible; font-size:13px; color:#666; margin: 0 auto; width:800px;
    }


.toggle { float:right; padding:10px; padding-right:20px}

.toggle .view-toggle-button { float:left;  width:28px; height:28px; cursor:pointer; border:1px solid #c0c0c0; }

.toggle .view-toggle-button { background-repeat:no-repeat; background-position:50% 50%; }

.toggle .view-toggle-button img { display:block; margin:10px auto 0; }

    .toggle #grid-view-button {
        border-right: none;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        /*background-image: url('https://support.apple.com/kb/resources/images/view_grid_inactive.png');*/
        background-image: url('../../Images/view_grid_inactive.png');
    }
        .toggle #grid-view-button.active {
            /*background-image: url('https://support.apple.com/kb/resources/images/view_grid_active.png');*/
            background-image: url('../../Images/view_grid_active.png');
        }


    .toggle #list-view-button {
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        /*background-image: url('https://support.apple.com/kb/resources/images/view_list_inactive.png');*/
        background-image: url('../../Images/view_list_inactive.png');
    }
        .toggle #list-view-button.active {
            /*background-image: url('https://support.apple.com/kb/resources/images/view_list_active.png');*/
            background-image: url('../../Images/view_list_active.png');
        }


    #more-results-wrap {
        padding: 18px 0 20px;
        text-align: center;
        /*background: url('https://km.support.apple.com/kb/resources/images/divider.jpg') no-repeat 50% 0; /*z-index:-1;*/
        background: url('../../Images/divider.jpg') no-repeat 50% 0;
        -webkit-transition: margin .5s ease-in-out;
        -moz-transition: margin .5s ease-in-out;
        -o-transition: margin .5s ease-in-out;
    }


.more-results-button { 
   padding:7px 20px 0; margin:0 auto; height: 25px; border:1px solid #c5c5c5; cursor:pointer; display: inline-block; visibility:hidden;
}


.more-results-button:hover {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e7e7e7));
	background-image:-moz-linear-gradient(center top, #f9f9f9 0%, #e7e7e7 100%);
	background-image:-o-linear-gradient(#f9f9f9, #e7e7e7);
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #e7e7e7 100%);
}

.more-results-button.active,
.more-results-button:active {
	-webkit-box-shadow:inset rgba(0,0,0,0.4) 0px 1px 2px;
	-moz-box-shadow:inset rgba(0,0,0,0.4) 0 1px 2px;
	box-shadow:inset rgba(0,0,0,0.4) 0 1px 2px;
	box-shadow:inset rgba(0,0,0,0.4) 0 1px 2px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#dddfdf));
	background-image:-moz-linear-gradient(center top, #f6f6f6 0%, #dddfdf 100%);
	background-image:-o-linear-gradient(#f6f6f6, #dddfdf);
	background-image:linear-gradient(to bottom, #f6f6f6 0%, #dddfdf 100%);
}


    </style>

@if (Model.Count() == 0)
{
    <div id="results_wrapper" class="layout">

        <div id="resultsheader">
            <span id="count">@Model.Count() Results for your Search</span>                 
        </div>

        <div id="noresults">Your search request had no matches. Please double check that all words are spelled correctly or try different (more general) keywords.</div>     
        
        </div>
        }

        else
        {
        /* Simple View */


        <div id="results_wrapper" class="layout">

            <div id="resultsheader">
                <span id="count">Displaying @ViewBag.DisplayedResultsCount of @ViewBag.TotalResultsCount Results for Search</span>
                <div id="toggle" class="toggle">
                    <div id="grid-view-button" class="view-toggle-button active"></div>
                    <div id="list-view-button" class="view-toggle-button"></div>
                </div>
            </div>

            <div id="view_basic">

                <ul id="ul_basic">
                    @foreach (var item in Model)
                    {

                        <li>
                            <div id="left" style="background-image: url('@item.ArticleType.ArticleTypeImage')">
                                @*<a href="@Url.Action("Details", new { id = item.id, target = "_blank" })"><img id="articleicon" src="@item.ArticleType.ArticleTypeImage" alt="Details" height="47" width="36" /></a>*@
                            </div>

                            <div id="right">
                                <h3>
                                    @Html.ActionLink(item.Summary, "Details", new { id = item.id }, new { target = "_blank" })
                                </h3>
                                <div class="desc">
                                    @item.Details
                                </div>
                            </div>

                        </li>
                    }

                </ul>

                <div id="more-results-wrap">
                    <div class ="more-results-button" id="more-results-button-basic">Load more results</div>
                </div>


            </div>



            @* Detailed View *@

            <div id="view_detailed">

                <ul id="ul_detailed">
                    @foreach (var item in Model)
                    {

                        <li style="height:auto;padding-bottom:30px">
                            
                            <div id="right">

                                <div style="font-weight: bold;font-size: 1.17em;padding-bottom:5px">
                                    @Html.ActionLink(item.Summary, "Details", new { id = item.id }, new { target = "_blank" }) <span style="font-weight: normal;font-style: italic;font-size:small"> (Id = @Html.DisplayFor(modelItem => item.id)) </span>
                                </div>

                                <div>
                                    Application Name: @Html.DisplayFor(modelItem => item.Application.AppName)
                                </div>


                                <div>

                                    Category: @Html.DisplayFor(modelItem => item.ArticleCategory.Category)
                                </div>

                                <div>
                                    Type:  @Html.DisplayFor(modelItem => item.ArticleType.Name)
                                </div>

                                <div style="float:right">
                                    Submitted By: @Html.DisplayFor(modelItem => item.Staff.SecondName)
                                    on @Html.DisplayFor(modelItem => item.CreatedDate)
                                </div>

                            </div>

                        </li>
                    }

                </ul>

                <div id="more-results-wrap">
                    <div class="more-results-button" id="more-results-button-detailed">Load more results</div>
                </div>

            </div>

            <div id="displaycounters">
                <input type="hidden" id="DisplayedResultsCount" value=@ViewBag.DisplayedResultsCount />
                <input type="hidden" id="RemainingResultsCount" value=@ViewBag.RemainingResultsCount />
                <input type="hidden" id="PagesizeCount"         value=@ViewBag.PagesizeCount />
                <input type="hidden" id="TotalResultsCount"     value=@ViewBag.TotalResultsCount />
            </div>
               
</div>

        }



        <script>


    $(document).ready(function () {

        var RemainingResultsCount = $('#RemainingResultsCount').val();
        if (RemainingResultsCount > 1)
            $('.more-results-button').css("visibility", "visible")


        $('#grid-view-button').click(function () {



            if ($(this).attr('class') == "view-toggle-button") {


                $('#grid-view-button').attr('class', 'view-toggle-button active');
                $('#list-view-button').attr('class', 'view-toggle-button');
                $('#view_basic').css("display", "block");
                $('#view_detailed').css("display", "none");

            }

        });


        $('#list-view-button').click(function () {



            if ($(this).attr('class') == "view-toggle-button") {

                $('#list-view-button').attr('class', 'view-toggle-button active');
                $('#grid-view-button').attr('class', 'view-toggle-button');
                $('#view_basic').css("display", "none");
                $('#view_detailed').css("display", "block");


            }

        });


        $('.more-results-button').click(function () {


            var RequestData = {};


            var selectedvalue = $('#ArticleTypeId option:selected').text();
            if (selectedvalue == "All") {
                RequestData.ArticleTypeId = "0";
            }
            else {
                RequestData.ArticleTypeId = $('#ArticleTypeId').val();
            }


            RequestData.SearchString = $('#SearchString').val();
            RequestData.PagesizeCount = $('#PagesizeCount').val();
            RequestData.DisplayedResultsCount = $('#DisplayedResultsCount').val();
            RequestData.RemainingResultsCount = $('#RemainingResultsCount').val();


            $.ajax({
                url: "@Url.Action("LoadMoreResults", "KnowledgeBase")",
                    type: "POST",      // If this is set to GET then no data is sent to controller, it's a known bug I believe
                    contentType: 'application/json;',
                    dataType: 'json',
                    data: JSON.stringify(RequestData)

            }).done(function (data) {

                var Remaining = data[0].RemainingResultsCount;

                $('#count').text("Displaying " + data[0].DisplayedResultsCount + " of " + $('#TotalResultsCount').val() + " Results for Search");
                

                if (Remaining == 0) {
                    $('.more-results-button').css("visibility", "hidden")
                }
                else {

                    $('#DisplayedResultsCount').val(data[0].DisplayedResultsCount);
                    $('#RemainingResultsCount').val(Remaining);

                        }

                    var moreresults_basic = [];
                    var moreresults_detailed = [];

                    for (var m = 0; m < data.length; m++)
                    {
                        moreresults_basic.push(

                             '<li><div id="left" style="background-image: url(\'' + data[m].ArticleTypeImage + '\')"> </div>' +
                             '<div id="right"><h3> <a href="/KnowledgeBase/Details/' + data[m].Id + '  " target="_blank">' + data[m].Summary + '</a></h3>' +
                             '<div class="desc">' + data[m].Details + '</div></div></li>')


                        moreresults_detailed.push(

                            '<li style="height:auto;padding-bottom:30px">'  +
                                        '<div id="right">' +
                                                '<div style="font-weight: bold;font-size: 1.17em;padding-bottom:5px">' +
                                                '<a href="/KnowledgeBase/Details/' + data[m].Id + '  " target="_blank">' + data[m].Summary +
                                                '</a><span style="font-weight: normal;font-style: italic;font-size:small"> (Id =' + data[m].Id + ') </span> </div>' +
                                                '<div> Application Name: ' + data[m].AppName + '</div>'  +
                                                '<div>Category: ' + data[m].ArticleCategory + '  </div>'+
                                                '<div> Type:  ' + data[m].ArticleType + ' </div>' +
                                                '<div style="float:right"> Submitted By: ' + data[m].Staff + '  on ' + data[m].CreatedDate + '</div></div></li>'
                    )}

                    $('#ul_basic').append(moreresults_basic);
                    $('#ul_detailed').append(moreresults_detailed);




            });

     });

 });


        </script>
