@model ITAssetsDatabase.Web.ViewModels.Assets.DetailsViewModel


@{
    ViewBag.Title = "Create";
}

<style>


    
    /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

        body {
        background-image: url('../../Images/Office.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    #wrapper {
        background-color: white;
        box-shadow: 5px 5px 5px #888888;      
        width: 65%;
        margin: 60px auto 40px;
        /* Fixes child DIV FormHeader collapsing top margin */
        overflow:auto;
    }


   .FormHeader {

        font-size: 2em;
        font-weight:bold;
        color:white;    
        padding: 30px 30px;
        background-color: #6c254a;        
        height: 90px;
        text-align:center;
        vertical-align:central;
        
       
    }

    .FormSubjects {

        font-size: 1.2em;
        font-weight:bold;
        color:black;
        padding-top:30px;
        padding-bottom:30px;
        clear:both;float:left;
    }


    
    #textBody {
        margin: 20px; /*border:medium solid;*/
        margin-top: 0px;
        padding:30px;
    }



    tr {
        background-color: #e1e1e1;
    }

    td {
        border: 1px solid white;
        padding:3px;
        text-align:center;
    }
        /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

        body {
        background-image: url('../../Images/Office.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }



            #wrapper {
        background-color: white;
        box-shadow: 5px 5px 5px #888888;      
        width: 65%;
        margin: 60px auto 40px;
        /* Fixes child DIV FormHeader collapsing top margin */
        overflow:auto;
    }


    input {
        width: 400px;
        padding-left: 25px;
        padding: 6px 10px 7px 30px;
        font-size: 14px;
        background-color: #FFF7F7;
    }


        input:focus, select:focus {
            -webkit-box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            background-color: #f3eeee;
        }


    select {
        background-color: rgba(255,255,255,0.9);
        width: 200px;
        padding: 5px;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        height: 2.2rem;
        display: inline;
    }


    #textBody {
        margin: 20px; /*border:medium solid;*/
    }


    .Lookup {
        background: transparent url('../Images/icon_search_trans.png') 8px 8px no-repeat;
        background-color: #FFF7F7;
    }

    .Helpdesk {
        background: transparent url('../Images/F.png') 8px 8px no-repeat;
    }

    #ResolutionText {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 670px;
        word-wrap: break-word;
    }



    #CloseBtn {
        clear: both;
        padding-top: 80px;
        margin-left: 310px;
        /*float:right;*/
        position: relative;
    }


    .editor-label {
        clear: both;
        float: left;
        width: 30%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .editor-field {
        float: right;
        width: 400px;
        padding: 6px 10px 7px 30px;
        border-radius: 5px;
        margin: 5px 0 6px 0;
        font-size: 14px;
        background-color: #FFF7F7;
        box-shadow: inset rgba(0,0,0,0.75) 0 1px 2px;
        color: black;
    }



    h4 {
        margin-bottom: 40px;
        clear: both;
        margin-top: 30px;
    }

    p {
        clear: both;
    }


    textarea {
        width: 642px;
        height: 147px;
    }

    .notes {
        border: thin solid;
        border-radius: 5px;
        margin-bottom: 10px;
        padding-top: 0px;
        height: 50px;
        text-align: left;
        padding: 5px;
    }

    #myheader {
        float: left;
        margin-bottom: 40px;
        clear: both;
        margin-top: 30px;
        font-size: 1.1em;
        font-weight: 700;
    }

    #status {
        float: right;
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: x-large;
        color: darkred;
    }

    

    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {

    background-color: #F1F1F1;
    border: thin;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 2px;
    outline: none;
    height :30px;
    width: 450px;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    padding-left:50px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: black;
    text-align: left;
    vertical-align:central;
}

    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6c254a;  
    box-shadow: 0 1px 0 0 #6c254a;  

    }

    input:not([type]).valid, input:not([type]):focus.valid, input[type=text]:not(.browser-default).valid, input[type=text]:not(.browser-default):focus.valid, input[type=password]:not(.browser-default).valid, input[type=password]:not(.browser-default):focus.valid, input[type=email]:not(.browser-default).valid, input[type=email]:not(.browser-default):focus.valid, input[type=url]:not(.browser-default).valid, input[type=url]:not(.browser-default):focus.valid, input[type=time]:not(.browser-default).valid, input[type=time]:not(.browser-default):focus.valid, input[type=date]:not(.browser-default).valid, input[type=date]:not(.browser-default):focus.valid, input[type=datetime]:not(.browser-default).valid, input[type=datetime]:not(.browser-default):focus.valid, input[type=datetime-local]:not(.browser-default).valid, input[type=datetime-local]:not(.browser-default):focus.valid, input[type=tel]:not(.browser-default).valid, input[type=tel]:not(.browser-default):focus.valid, input[type=number]:not(.browser-default).valid, input[type=number]:not(.browser-default):focus.valid, input[type=search]:not(.browser-default).valid, input[type=search]:not(.browser-default):focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #c4a7b6;
    box-shadow: 0 1px 0 0 #c4a7b6;
}


</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    <div id="wrapper">

        <div class="FormHeader">- Asset Details -</div>


        <div id="textBody">

            
            @*     Request Details   *@

            <div class="FormSubjects">Device Details</div>


            <div class="editor-label">Status</div>
            <div class="Status">@ViewBag.status</div>

            <div class="editor-label">Purchase Request Reference</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.PORef)</div>

            <div class="editor-label">Purchase Order Reference</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.PRRef)</div>

            <div class="editor-label">Device Asset Number</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.AssetNo)</div>

            <div class="editor-label">Device Serial Number</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.SerialNo)</div>

            <div class="editor-label">MAC Address</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.MAC_Address)</div>

            <div class="editor-label">Build</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.Build.BuildName)</div>

            <div class="editor-label">Domain</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.Build.Domain)</div>

            <div class="editor-label">Hostname</div>
            @*<div class="editor-field">@Html.DisplayFor(model => model.Asset.Hostname.FullHostname)@Html.DisplayFor(model => model.Asset.HostnameXafinity.FullHostname)</div>*@
            <div class="editor-field">@ViewBag.Hostname</div>

            <div class="editor-label">Device Type</div>

            <div class="editor-field">
                @Html.DisplayFor(model => model.Asset.Device.Type) ->
                @Html.DisplayFor(model => model.Asset.Device.Make) ->
                @Html.DisplayFor(model => model.Asset.Device.Model)
            </div>


            <div class="editor-label">Registered By</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Asset.Staff.FullName)</div>

            <div class="FormSubjects">Signoff Sheets</div>


            <table>
                <tr class="TableHeader">

                    <td style="text-align:center;border:solid;border-width:1px;border-color:white;width:100px">Upload Date</td>
                    <td style="border:solid;border-width:1px;border-color:white;width:200px">End User</td>
                    <td style="width:150px;border:solid;border-width:1px;border-color:white">Sheet</td>
                </tr>

                @if (Model.Asset.AssetSignoff.Count != 0)
                {

                    foreach (var item in Model.Asset.AssetSignoff)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.CreateDate)
                            </td>
                            <td>
                                @item.Employee.FullName
                            </td>
                            <td>
                                @*<a href="../../File Uploads/@item.Uploadpath" target="_new"><img src="~/Images/Signoffsheeticon.png" style="width:19px;height:22px;border:0"></a>*@
                                <a href="@Url.Action("GetFileFromDisk", new { id = item.ID })"><img src="~/Images/Signoffsheeticon.png" style="width:19px;height:22px;border:0"> </a>
                            </td>
                        </tr>
                    }

                }

                else
                {
                    <tr>
                        <td colspan="3" style="color:black;font-style:italic">No sign off sheets uploaded for this asset</td>

                    </tr>

                }



            </table>

            <div class="FormSubjects">Assignment Trail</div>

           

            <table>
                <tr class="TableHeader">

                    <td style="text-align:center;border:solid;border-width:1px;border-color:white">Date</td>
                    <td style="border:solid;border-width:1px;border-color:white">Ref</td>
                    <td style="width:150px;border:solid;border-width:1px;border-color:white">End User</td>
                    <td style="width:150px;border:solid;border-width:1px;border-color:white">Requester</td>
                    <td style="border:solid;border-width:1px;border-color:white">Tech</td>
                    <td style="width:70px;border:solid;border-width:1px;border-color:white;width:80px">Status</td>
                </tr>




                @foreach (var item in Model.Audit)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.CreatedDate)
                        </td>
                        <td>
                            @item.HelpdeskRef
                        </td>
                        <td>
                            @item.EndUserFullName
                        </td>
                        <td>
                            @item.RequesterFullName
                        </td>

                        <td>
                            @item.Staff
                        </td>

                        <td>
                            @item.AssetStatus

                        </td>

                    </tr>


                }

            </table>

            <p class="BackPage">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to Assets", "Index")
            </p>



        </div>


    </div>


}






@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")   @* Allows Background to go grey in Modal*@
    <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
    <script src="~/Scripts/Autosize/jquery.autosize.min.js"></script>
    <script src="~/Scripts/Autosize/jquery.autosize.js"></script>
    <script src="~/Scripts/plupload-2.1.2/js/plupload.full.min.js"></script>



    <script>

        $(document).ready(function () {

            $('select').material_select();


            // LookupRequester

            $('#LookupRequester').autocomplete({

                source: function (request, response) {
                    var filter = $("#DomainId").val();
                    $.getJSON("/Assets/LookupPersonAutocomplete", { term: request.term, DomainId: filter }, response);
                },

                select: function (event, ui) {
                    event.preventDefault();  // Stops the deafult action of displaying the Value rather than the label in the box after selection
                    $("#LookupRequester").val(ui.item.label);  // Displays Label in box after selection
                    $("#RequesterSID").val(ui.item.value);

                    $("#RequesterFirstName").val(ui.item.FirstName);
                    $("#RequesterMiddleName").val(ui.item.MiddleName);
                    $("#RequesterSurname").val(ui.item.Surname);
                    $("#RequesterEmail").val(ui.item.Email);
                    $("#RequesterDomain").val(ui.item.Domain);
                    $("#RequesterDomainLogon").val(ui.item.Logon);
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    //$("#customer-search").val(ui.item.label);
                }

            });



            $('#LookupEndUser').autocomplete({

                source: function (request, response) {
                    var filter = $("#DomainId").val();
                    $.getJSON("/Assets/LookupPersonAutocomplete", { term: request.term, DomainId: filter }, response);
                },

                select: function (event, ui) {
                    event.preventDefault();  // Stops the deafult action of displaying the Value rather than the label in the box after selection
                    $("#LookupEndUser").val(ui.item.label);  // Displays Label in box after selection
                    $("#AssigneeSID").val(ui.item.value);

                    $("#AssigneeFirstName").val(ui.item.FirstName);
                    $("#AssigneeMiddleName").val(ui.item.MiddleName);
                    $("#AssigneeSurname").val(ui.item.Surname);
                    $("#AssigneeEmail").val(ui.item.Email);
                    $("#AssigneeDomain").val(ui.item.Domain);
                    $("#AssigneeDomainLogon").val(ui.item.Logon);

                },
                focus: function (event, ui) {
                    event.preventDefault();
                    //$("#customer-search").val(ui.item.label);
                }

            });


            //  LookupLocation

            $('#LookupLocation').autocomplete({
                source: '/Assets/LookupLocationAutocomplete',
                //delay: 500,
                //minLength: 2,

                select: function (event, ui) {
                    event.preventDefault();  // Stops the deafult action of displaying the Value rather than the label in the box after selection
                    $("#LookupLocation").val(ui.item.label);  // Displays Label in box after selection
                    $("#LocationId").val(ui.item.value);
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    //$("#customer-search").val(ui.item.label);
                }

            });


            //  Lookup Device Model

            $('#LookupDeviceModel').autocomplete({
                source: '/Assets/LookupDeviceModelAutocomplete',
                //delay: 500,
                //minLength: 2,

                select: function (event, ui) {
                    event.preventDefault();  // Stops the deafult action of displaying the Value rather than the label in the box after selection
                    $("#LookupDeviceModel").val(ui.item.label);  // Displays Label in box after selection
                    $("#DeviceId").val(ui.item.value);
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    //$("#customer-search").val(ui.item.label);
                }

            });


            //  Lookup Build


            $('#LookupBuild').autocomplete({

                source: function (request, response) {
                    var filter = $("#DeviceId").val();
                    $.getJSON("/Assets/LookupBuildAutocomplete", { term: request.term, filter: filter }, response);
                },


                select: function (event, ui) {
                    event.preventDefault();  // Stops the deafult action of displaying the Value rather than the label in the box after selection
                    $("#LookupBuild").val(ui.item.label);  // Displays Label in box after selection
                    $("#BuildId").val(ui.item.value);
                    $("#BuildDomain").val(ui.item.build_domain);
                },
                focus: function (event, ui) {
                    event.preventDefault();
                }

            });



            //Start of Fetch  //

            $('#fetch').click(function () {


                // Check Location, Device, Build fields are filled in

                var isValid = true;

                $('#LookupLocation,#LookupDeviceModel,#LookupBuild,#LocationId,#DeviceId,#BuildId').each(function () {

                    if ($.trim($(this).val()) == "" || $(this).val() == 0) {

                        $(this).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        $("#fetcherror").css("display", "block");
                        isValid = false;
                    }

                    else {
                        $(this).css({
                            "border": "",
                            "background": ""
                        });

                    }

                    if (isValid == true) $("#fetcherror").css("display", "none");

                });




                if (isValid == true) {
                    $('#please-wait').css('display', 'block');

                    var LocationId = $('#LocationId').val();
                    var DeviceId = $('#DeviceId').val();
                    var StaffId = $('#StaffId').val();
                    var BuildId = $('#BuildId').val();

                    $.ajax({
                        url: "/Assets/FetchHostname",
                        data: { LocationId: LocationId, DeviceId: DeviceId, StaffId: StaffId, BuildId: BuildId },
                        type: "GET"
                    }).done(function (mydata) {

                        $('#please-wait').css('display', 'none');
                        $('#HostnameId').val(mydata.Id);
                        $('#Hostname').val(mydata.FullHostname);
                        $('#Hostname').focus();

                    });

                }


            });



            // End of Fetch  //



            // MAC Address Autocharacters

            $("#MAC_Address").live("keyup", function (event) {
                var limitField = $(this).val().trim().length;
                var limit = "17"
                if (event.keyCode != 8) {
                    if (limitField == 2) {
                        var fax_value = $(this).val().trim().concat(':');
                        $("#MAC_Address").val(fax_value);
                    } else if (limitField == 5) {
                        var fax_value = $(this).val().trim().concat(':');
                        $("#MAC_Address").val(fax_value);
                    } else if (limitField == 8) {
                        var fax_value = $(this).val().trim().concat(':');
                        $("#MAC_Address").val(fax_value);
                    } else if (limitField == 11) {
                        var fax_value = $(this).val().trim().concat(':');
                        $("#MAC_Address").val(fax_value);
                    }
                    else if (limitField == 14) {
                        var fax_value = $(this).val().trim().concat(':');
                        $("#MAC_Address").val(fax_value);
                    }
                }
                if (limitField > limit) {
                    $("#MAC_Address").val($(this).val().trim().substring(0, limit));
                }
            });



            // Register Asser

            $('#register').click(function () {

                $("#thisForm").submit();

            });

            
       
            


        })
    </script>

}
