@model ITAssetsDatabase.Web.ViewModels.Assets.AssetActionViewModel


@{
    ViewBag.Title = "Create";
}

@*<style>
        /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

        body {
            background-image: url('../../Images/Office.jpeg');
            min-height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

        #wrapper {
            background-color: white;
            box-shadow: 5px 5px 5px #888888;
            width: 65%;
            margin: 60px auto 40px;
            /* Fixes child DIV FormHeader collapsing top margin */
            overflow: auto;
        }


        .FormHeader {
            font-size: 2em;
            font-weight: bold;
            color: white;
            padding: 30px 30px;
            background-color: #6c254a;
            height: 90px;
            text-align: center;
            vertical-align: central;
        }

        .FormSubjects {
            font-size: 1.2em;
            font-weight: bold;
            color: black;
            padding-top: 30px;
            padding-bottom: 30px;
            clear: both;
            float: left;
        }


        #textBody {
            margin: 20px; /*border:medium solid;*/
            margin-top: 0px;
            padding: 30px;
        }



        tr {
            background-color: #e1e1e1;
        }

        td {
            border: 1px solid white;
            padding: 3px;
            text-align: center;
        }
        /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

        body {
            background-image: url('../../Images/Office.jpeg');
            min-height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }




        #wrapper {
            background-color: white;
            box-shadow: 5px 5px 5px #888888;
            padding: 40px;
            width: 75%;
        }


        input {
            width: 400px;
            padding-left: 25px;
            padding: 6px 10px 7px 30px;
            font-size: 14px;
            background-color: #FFF7F7;
        }

        select {
            height: 33px;
            width: 440px;
            background-color: #FFF7F7;
            padding-left: 27px;
        }

        #textBody {
            margin: 20px; /*border:medium solid;*/
        }

        .editor-label {
            clear: both;
            float: left;
            width: 30%;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .editor-field {
            float: right;
            width: 400px;
            padding: 6px 10px 7px 30px;
            border-radius: 5px;
            margin: 5px 0 6px 0;
            font-size: 14px;
            background-color: #FFF7F7;
            box-shadow: inset rgba(0,0,0,0.75) 0 1px 2px;
            color: black;
        }


        h4 {
            margin-bottom: 25px;
            clear: both;
            margin-top: 30px;
        }

        p {
            clear: both;
        }


        textarea {
            width: 642px;
            height: 147px;
        }


        #myheader {
            float: left;
            margin-bottom: 40px;
            clear: both;
            margin-top: 30px;
            font-size: 1.1em;
            font-weight: bold;
            color: black;
        }

        #status {
            float: right;
            margin-bottom: 40px;
            margin-top: 30px;
            font-size: x-large;
            color: darkred;
        }

        .hide {
            display: none;
        }

        .display {
            display: normal;
            background-color: #FFF7F7;
        }

        .upload {
            width: 300px;
        }
    </style>*@

<style>
    /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

    body {
        background-image: url('../../Images/Office.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    #wrapper {
        background-color: white;
        box-shadow: 5px 5px 5px #888888;
        width: 65%;
        margin: 60px auto 40px;
        /* Fixes child DIV FormHeader collapsing top margin */
        overflow: auto;
    }


    .FormHeader {
        font-size: 2em;
        font-weight: bold;
        color: white;
        padding: 30px 30px;
        background-color: #6c254a;
        height: 90px;
        text-align: center;
        vertical-align: central;
    }

    .FormSubjects {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        clear: both;
        float: left;
    }



    #textBody {
        margin: 20px; /*border:medium solid;*/
        margin-top: 0px;
        padding: 30px;
    }



    tr {
        background-color: #e1e1e1;
    }

    td {
        border: 1px solid white;
        padding: 3px;
        text-align: center;
    }
    /*     BASE PURPLE COLOUR     #6c254a;   http://www.color-hex.com/color/6c254a    */

    body {
        background-image: url('../../Images/Office.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }



    #wrapper {
        background-color: white;
        box-shadow: 5px 5px 5px #888888;
        width: 65%;
        margin: 60px auto 40px;
        /* Fixes child DIV FormHeader collapsing top margin */
        overflow: auto;
    }


    input {
        width: 400px;
        padding-left: 25px;
        padding: 6px 10px 7px 30px;
        font-size: 14px;
        background-color: #FFF7F7;
    }


        input:focus, select:focus {
            -webkit-box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            box-shadow: 0px 0px 0px 1px rgba(242,17,17,1);
            background-color: #f3eeee;
        }


    select {
        height: 33px;
        width: 440px;
        background-color: #FFF7F7;
        padding-left: 27px;
        display: initial;
        border-radius: 5px;
    }



    #textBody {
        margin: 20px; /*border:medium solid;*/
    }


    .Lookup {
        background: transparent url('../Images/icon_search_trans.png') 8px 8px no-repeat;
        background-color: #FFF7F7;
    }

    .Helpdesk {
        background: transparent url('../Images/F.png') 8px 8px no-repeat;
    }

    #ResolutionText {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 670px;
        word-wrap: break-word;
    }



    #CloseBtn {
        clear: both;
        padding-top: 80px;
        margin-left: 310px;
        /*float:right;*/
        position: relative;
    }


    .editor-label {
        clear: both;
        float: left;
        width: 30%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .editor-field {
        float: right;
        width: 400px;
        padding: 6px 10px 7px 30px;
        border-radius: 5px;
        margin: 5px 0 6px 0;
        font-size: 14px;
        background-color: #FFF7F7;
        box-shadow: inset rgba(0,0,0,0.75) 0 1px 2px;
        color: black;
    }



    h4 {
        margin-bottom: 40px;
        clear: both;
        margin-top: 30px;
    }

    p {
        clear: both;
    }


    textarea {
        width: 642px;
        height: 147px;
    }

    .notes {
        border: thin solid;
        border-radius: 5px;
        margin-bottom: 10px;
        padding-top: 0px;
        height: 50px;
        text-align: left;
        padding: 5px;
    }

    #myheader {
        float: left;
        margin-bottom: 40px;
        clear: both;
        margin-top: 30px;
        font-size: 1.1em;
        font-weight: 700;
    }

    #status {
        float: right;
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: x-large;
        color: darkred;
    }
</style>

@using (Html.BeginForm("Edit", "Assets", FormMethod.Post, new { enctype = "multipart/form-data", id = "thisForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input name="Id" type="hidden" value=@Model.Assets.Id id="assetid">
    <input name="submitbuttonflag" id="submitbuttonflag" type="hidden">

    <div id="wrapper">

        <div class="FormHeader">- Ammend Asset Status -</div>

        <div id="textBody">

            <div class="FormSubjects">Device and Assignement Details</div>

            @*     Request Details   *@

            <div class="editor-label">Status</div>
            <div class="Status">@Model.State</div>

            <div class="editor-label">Purchase Request Reference</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.PRRef)</div>

            <div class="editor-label">Purchase Order Reference</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.PRRef)</div>

            <div class="editor-label">Device Asset Number</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.AssetNo)</div>

            <div class="editor-label">Device Serial Number</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.SerialNo)</div>

            <div class="editor-label">MAC Address</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.MAC_Address)</div>

            <div class="editor-label">Build</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.Build.BuildName)</div>

            <div class="editor-label">Domain</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.Build.Domain)</div>

            <div class="editor-label">Hostname</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Hostname)</div>

            <div class="editor-label">Device Type</div>

            <div class="editor-field">
                @Html.DisplayFor(model => model.Assets.Device.Type) ->
                @Html.DisplayFor(model => model.Assets.Device.Make) ->
                @Html.DisplayFor(model => model.Assets.Device.Model)
            </div>

            <div class="editor-label">Registered By</div>
            <div class="editor-field">@Html.DisplayFor(model => model.Assets.Staff.FullName)</div>

            <div class="FormSubjects">Signoff Sheets</div>

            <table>
                <tr class="TableHeader">

                    <td style="text-align:center;border:solid;border-width:1px;border-color:white;width:200px">Upload Date</td>
                    <td style="border:solid;border-width:1px;border-color:white;width:200px">End User</td>
                    <td style="width:200px;border:solid;border-width:1px;border-color:white">Sheet</td>
                </tr>

                @if (Model.Assets.AssetSignoff.Count != 0)
                {

                    foreach (var item in Model.Assets.AssetSignoff)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.CreateDate)      </td>
                            <td>@item.Employee.FullName                     </td>
                            <td>
                                @*<a href="../../File Uploads/@item.ID" target="_new"><img src="~/Images/Signoffsheeticon.png" style="width:19px;height:22px;border:0"></a>*@
                                <a href="@Url.Action("GetFileFromDisk", new { id = item.ID })"><img src="~/Images/Signoffsheeticon.png" style="width:19px;height:22px;border:0"> </a>
                            </td>
                        </tr>
                    }

                    <tr style="background-color:#FFF7F7;color:black">
                        <td colspan="3" style="color:black;font-style:italic"><a href="#/" id="signoffsheet">Upload another sign off sheet</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3" style="color:black;font-style:italic"><a href="#/" id="signoffsheet">No sign off sheets uploaded click to upload</a></td>
                    </tr>

                }

                <tr id="UploadGUI" class="hide">
                    <td colspan="3">
                        <input class="upload" type="file" name="fileupload_object" id="file1" />
                        <input id="upload" type="Submit" value="Upload" />
                    </td>

                </tr>


            </table>

            <div style="margin-top:20px">
                @Html.ActionLink("Print off a NEW sign off sheet", "PrintSignoff_display", new { AssetId = Model.Assets.Id }, new { target = "_blank" })
            </div>

            <div class="FormSubjects">Assignment Trail</div>

            <table>
                <tr class="TableHeader">

                    <td style="text-align:center;border:solid;border-width:1px;border-color:white">Date</td>
                    <td style="border:solid;border-width:1px;border-color:white">Ref</td>
                    <td style="width:150px;border:solid;border-width:1px;border-color:white">End User</td>
                    <td style="width:150px;border:solid;border-width:1px;border-color:white">Requester</td>
                    <td style="border:solid;border-width:1px;border-color:white">Tech</td>
                    <td style="width:70px;border:solid;border-width:1px;border-color:white;width:80px">Status</td>

                </tr>

                @foreach (var item in Model.Assets.AssetAssigned)
                {
                    if (item.AssetAssigneeID != null)
                    {

                        <tr>
                            <td>@Html.DisplayFor(x => item.CreateDate)</td>
                            <td>@item.AssetAssignee.HelpdeskRef        </td>
                            <td>@item.AssetAssignee.Assignee.FullName  </td>
                            <td>@item.AssetAssignee.Requester.FullName </td>
                            <td>@item.Staff.SecondName                 </td>
                            <td>@item.AssetStatus.State                </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.CreateDate)</td>
                            <td> n/a </td>
                            <td> n/a </td>
                            <td> n/a </td>
                            <td>@item.Staff.SecondName</td>
                            <td>@item.AssetStatus.State</td>
                        </tr>
                    }
                }

            </table>

            <div class="FormSubjects">Asset Actions</div>

            <div style="clear:left"> @Html.DropDownList("Action", @Model.AssetActions) <input type="submit" value="Action" id="action"></div>

            <p class="BackPage">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to Assets", "Index")
            </p>




        </div>
    </div>


}



<div id="redeploy"></div>

<div id="signoffsheetupload_dialog"></div>

<div id="Printoff_signoffsheet_dialog"></div>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            // Upload sign of sheet.

            $("#signoffsheet").click(function (e) {

                $('#UploadGUI').toggleClass('display hide')

            });

            // Stops default form submission the harnesses which Button has been pressed and then sets
            // the hidden submitbuttonflag so the controller then knows whether to process upload or action

            //$(document).on("submit", "form", function (e) {
            //    e.preventDefault();
            //    return false;
            //});

            $('#upload').click(function (event) {

                event.preventDefault();

                valid = true;

                if ($(this).val() == '') {
                    Alert('Please select a file to upload');

                } else {

                    $('#submitbuttonflag').val('upload');
                    $('#thisForm').submit();

                }

            });

            $('#action').click(function (event) {
                event.preventDefault();

                $('#submitbuttonflag').val('action');
                $('#thisForm').submit();

            });

        });
    </script>


}

